<a href="https://colab.research.google.com/github/AMV1909/cd_202202_axel_morales/blob/main/Taller%20N%C2%B0%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyproj

In [8]:
import pandas as pd

ruta = 'https://foscalinternacional.com/datasets/eventos_dengue_2020.csv'
df = pd.read_csv(ruta)

In [28]:
df

,ID,fec_not,semana,año,edad_,uni_med_,sexo_,cod_pais_o,cod_dpto_o,cod_mun_o,...,hipotermia,caida_plaquetas,acum_liquido,aum_hematocrito,conducta,latitud,longitud,x,y,distancia
0,1,17/01/2020,1,2020,25,1,F,170,68,276,...,2,2,2,2,1. Ambulatorio,7.076011,-73.102501,2.394617e+06,-9.730308e+06,1949.996576
1,2,10/01/2020,1,2020,24,1,M,170,68,276,...,2,2,2,2,1. Ambulatorio,7.079495,-73.105400,2.394299e+06,-9.730473e+06,2305.990923
2,3,12/01/2020,1,2020,58,1,M,170,68,276,...,2,2,2,2,1. Ambulatorio,7.090290,-73.091003,2.396012e+06,-9.730594e+06,1082.681722
3,4,12/01/2020,1,2020,29,1,F,170,68,276,...,2,2,2,2,1. Ambulatorio,7.067435,-73.090958,2.395905e+06,-9.729826e+06,574.915400
4,5,10/01/2020,1,2020,56,1,F,170,68,276,...,2,1,2,2,2. Hospitalizacion piso,7.066905,-73.104980,2.394286e+06,-9.730044e+06,2192.053820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,1258,7/03/2020,9,2020,36,1,F,170,68,276,...,2,2,2,2,1. Ambulatorio,7.072610,-73.099487,2.394947e+06,-9.730143e+06,1582.301993
1258,1259,13/03/2020,9,2020,42,1,M,170,68,276,...,2,1,2,1,2. Hospitalizacion piso,7.065252,-73.103607,2.394437e+06,-9.729966e+06,2029.495620
1259,1260,8/03/2020,9,2020,2,1,M,170,68,276,...,2,2,2,2,1. Ambulatorio,7.091391,-73.103264,2.394604e+06,-9.730836e+06,2209.259268
1260,1261,11/03/2020,9,2020,12,1,F,170,68,276,...,2,2,2,2,1. Ambulatorio,7.061083,-73.097000,2.395178e+06,-9.729715e+06,1259.996774
1261,1262,9/03/2020,9,2020,14,1,M,170,68,276,...,2,2,2,2,2. Hospitalizacion piso,7.062521,-73.080444,2.397093e+06,-9.729485e+06,670.361113

In [ ]:
df.dtypes

In [ ]:
from datetime import datetime

df['fec_not2'] = pd.to_datetime(df['fec_not'], format="%d/%m/%Y")
df['fecha_contagio2'] = pd.to_datetime(df['fecha_contagio'], format="%d/%m/%Y")
df['inicio_sintomas2'] = pd.to_datetime(df['inicio_sintomas'], format="%d/%m/%Y")
df['fec_hos_2'] = pd.to_datetime(df['fec_hos_'], format="%d/%m/%Y")

In [6]:
import pyproj

P = pyproj.Proj(proj='utm', zone=18, ellps='WGS84', preserve_units=True)

In [ ]:
df['x'], df['y'] = P(df['latitud'], df['longitud'])
df

Sacar la distancia de los puntos hacia la alcadía de Floridablanca

In [26]:
import numpy as np

def distancia(latitud, longitud):
  lat_alcaldia = 7.062958503050063
  lon_alcaldia = -73.08619741888012

  x_alcaldia, y_alcaldia = P(lat_alcaldia, lon_alcaldia)

  df['distancia'] = np.sqrt((x_alcaldia-df['x'])**2 + (y_alcaldia-df['y'])**2)

  return df['distancia']

In [27]:
distancia(7.062958503050063, -73.08619741888012)

0       1949.996576
1       2305.990923
2       1082.681722
3        574.915400
4       2192.053820
           ...
1257    1582.301993
1258    2029.495620
1259    2209.259268
1260    1259.996774
1261     670.361113
Name: distancia, Length: 1262, dtype: float64